#== Maven Build Output =======================================================#
target/
#test-output/

#== xtend generated sources ==================================================#
src/main/generated-sources
src/test/generated-sources

#== eclipse files ============================================================#
.classpath
.project
.settings

#== experiments ==============================================================#
z/

#=============================================================================#



